

<div class="text-center align-content-center" id="hero">
    <h1 class="fw-bold">[Site Name]</h1>
    <h4 class="fw-bold">Bringing Pets Home</h4>
    <div class="col-lg-6 mx-auto">
        <div class="btn-toolbar justify-content-center">
            <a href="/pages/posts/edit.html" class="btn btn-primary btn-lg me-2" role="button">Report a Lost Pet</a>
            <a href="/pages/posts/edit.html" class="btn btn-primary btn-lg" role="button">Report a Found Pet</a>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-5 text-center">Recent Lost Pets</h1>
    <div class="row p-0 g-0">
        <ul class="list-group list-group-horizontal-md list-group-flush rounded border">
            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>

            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>

            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>
        </ul>
        <a href="/pages/posts/listings.html" class="btn btn-primary btn-lg mt-2" role="button">View All Lost Pets</a>
    </div>

    <h1 class="mt-5 text-center">Recent Found Pets</h1>
    <div class="row p-0 g-0">
        <ul class="list-group list-group-horizontal-md list-group-flush rounded border">
            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>

            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>

            <a href="pages/posts/view.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/rabbit.webp" class="list-img mx-auto d-block">
                <table class="table table-borderless m-0">
                    <tr>
                        <th>Name:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>Rabbit</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>Caerbannog</td>
                    </tr>
                </table>
            </a>
        </ul>
        <a href="/pages/posts/listings.html" class="btn btn-primary btn-lg mt-2" role="button">View All Found Pets</a>
    </div>

    <h1 class="mt-5 text-center">Recent Articles</h1>
    <div class="row p-0 g-0 mb-5">
        <ul class="list-group list-group-horizontal-md list-group-flush rounded border">
            <a href="pages/info/bulletins.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/logo.jpg" class="list-img mx-auto d-block">
                <h3>Article Title</h3>
                <p>
                    Article Summary
                </p>
            </a>

            <a href="pages/info/bulletins.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/logo.jpg" class="list-img mx-auto d-block">
                <h3>Article Title</h3>
                <p>
                    Article Summary
                </p>
            </a>

            <a href="pages/info/bulletins.html" class="list-group-item list-group-item-action bg-secondary-subtle p-3">
                <img src="images/logo.jpg" class="list-img mx-auto d-block">
                <h3>Article Title</h3>
                <p>
                    Article Summary
                </p>
            </a>
        </ul>
        <a href="/pages/info/blog.html" class="btn btn-primary btn-lg mt-2" role="button">View Site Blog</a>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>